<div class="container-fluid" style="height: 300px;width: 50%;margin-bottom: 200px">
  <form class="form-inline">
    <label for="status" class="mr-sm-2">Status:</label>
    <input #currentStatus type="text" class="form-control mb-2 mr-sm-2" style="height: 150px"
           placeholder="What's Your Mind dear"
           id="status">
    <label class="mr-sm-2">Choose privacy:</label>
    <div class="col">
      <input type="radio" name="address" >
      <label style="margin-left: 2px">Public</label>
      <input type="radio" name="address" />
      <label style="margin-left: 2px; margin-bottom: 10px">Private</label>
    </div>

    <div>
      <input type="text" id="myInput"
             placeholder="Search by location name.." title="Type in a name">

      <ul id="myUL" >
        <li ><a href="#">location</a></li>
      </ul>

    </div>


    <button type="submit" class="btn btn-primary mb-2">Submit</button>
  </form>
</div>

