<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="nav-link" href="#" routerLink="/books">Travel agency</a>

  <!--  This is For cart status component-->
  <div class="ml-auto">
    <p>dmfnskdjfdffffffffffffffffffffffsfjkdhkjsdfnskdfnfffffffffffffffffffffffffffffffffffffff</p>
  </div>


  <ul class="navbar-nav">

    <li class="nav-item" *ngIf="loginResponse!=null">
      <a class="nav-link" id="signOut" style="cursor: pointer" (click)="signOut()">SignOut</a>
    </li>
    <li class="nav-item" *ngIf="loginResponse==null">
      <a class="nav-link" id="signIn" routerLink="/signIn" href="#">SignIn</a>
    </li>
    <li class="nav-item" *ngIf="loginResponse==null">
      <a class="nav-link" id="signUp" routerLink="/signUp" href="#">SignUp</a>
    </li>
    <li class="nav-item" *ngIf="loginResponse!=null">
      <button>
        <a class="nav-link text-danger" routerLink="/createPost" id="post" href="#">Post</a>
      </button>
    </li>

  </ul>
</nav>
<br/>


<!-- Page Content -->
<div class="container mt-0">
  <router-outlet></router-outlet>
</div>
